{% load static %}
<!DOCTYPE html>
   <html lang="en">
   <head>

       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta content="Best Software Institute Of Kochi , Best Python Training Institute In Kerala " name="keywords">
       <meta content="Altos Eduhub - Unleash your software skills with the leading software training Institute in Kerala.
        Boost your career with expert-led job oriented courses, hands-on projects, and industry-relevant curriculum. 
        Gain the competitive edge in the tech industry today." name="description">
       


       <!--=============== FAVICON ===============-->
       <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">

       <!--=============== BOXICONS ===============-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

       <!--=============== SWIPER CSS ===============--> 
       <link rel="stylesheet" href="static/css/swiper-bundle.min.css">

       <!--=============== CSS ===============-->
       <link rel="stylesheet" href="static/css/styles.css">



       <title> Certification courses in kerala</title>

       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
       <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

       <link href="{% static 'css/snow.css' %}" rel="stylesheet" >
       <script src="{% static 'js/snow.js' %}"></script>

   
   </head>

   <style>
    .nav__list a{
        text-decoration: none;
    }

    .nav__link:hover{
        font-size: large;
    }

    .xmas-button{
        font-size: 1em;
        padding: 1em;
        /* background: #29d5e5c9; */
        background: linear-gradient(
            45deg,
            #840000,
            rgb(187, 0, 0),
            #5c0404 100%
            );
        font-weight: 600;
        text-transform: uppercase;
        border: none;
        border-radius: 4px;
    }

    .xmas_text{
        color: white;
        text-shadow: 3px 3px 10px rgba(255, 0, 0, 0.797);
    }

    
    .xmas_text_alt{
        color: white;
        text-shadow: 3px 3px 10px rgba(38, 138, 5, 0.797);
    }
   </style>

   <body>
        <div class="snow-container" style="z-index: 1;"></div>
       <!--==================== HEADER ====================-->
       <header class="header" id="header" >
        <div class="position-relative" style="z-index: 1;" >
            <div class="position-absolute start-0 top-0 top_tree_effect" >
              <div class="d-flex" >
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
                <img draggable="false" src="{% static 'xmas/decor/decor_top.png' %}" width="500vw" alt="">
              </div>
            </div>
        </div>
           <nav class="nav container" style="margin-top: 5vh;">
               <a href="{% url 'HomePage' %}" class="nav__logo">
                   <img src="static/img/logo1.png" style="width:100%; height:100%" alt="Altos Eduhub logo">
               </a>

               <div class="nav__menu" id="nav-menu">
                   <ul class="nav__list">
                       <li class="nav__item">
                           <a href="{% url 'HomePage' %}" class="nav__link ">Home</a>
                       </li>
                       <li class="nav__item">
                           <a href="{% url 'AboutPage' %}" class="nav__link">About</a>
                       </li>
                       <li class="nav__item">
                           <a href="{% url 'CoursePage' %}" class="nav__link">Course</a>
                       </li>
                       <li class="nav__item">
                           <a href="{% url 'PlacementPage' %}" class="nav__link">Placement</a>
                       </li>
                       <li class="nav__item">
                           <a href="{% url 'EventsPage' %}" class="nav__link active-link" style="color: #ff3939;">Events</a>
                       </li>
                     
                       <li class="nav__item">
                        <a href="{% url 'BlogPage' %}" class="nav__link">Blog</a>
                        </li>
                       <li class="nav__item">
                           <a href="{% url 'ContactPage' %}" class="nav__link">Contact</a>
                       </li>
                   </ul>

                   <div class="nav__close" id="nav-close">
                       <i class='bx bx-x' ></i>
                   </div>
               </div>

               <div class="nav__btns">
                   <!-- Theme change button -->
                   <i class='bx bx-moon change-theme' id="theme-button"></i>

                   <div class="nav__shop" id="cart-shop">
                       <i class='bx bxs-chat'></i>
                   </div>

                   <div class="nav__toggle" id="nav-toggle">
                       <i class='bx bx-grid-alt' ></i>
                   </div>
               </div>
           </nav>
       </header>

       <!--==================== CART ====================-->
       <div class="cart" id="cart">
           <i class='bx bx-x cart__close' id="cart-close"></i>

           <!-- <h2 class="cart__title-center">Chat</h2> -->
           <div class="card ChatBox" id="chat-container">
               <div class="card-head">
                   <div class="chatimg"></div>
                   <img src="{% static 'img/favicon.ico' %}">
                   <p>Altos EduHub</p>
               </div>
               <div class="card-body">
                   <div class="chat_img_box">
                       <img src="{% static 'img/logo1.png' %}">
                   </div>
                   <div class="chatmain_content">
                       <p>Welcome to altos eduhub! Use the chat box to get 
                           in touch with us and we'll be happy to assist you 
                           with any questions or inquiries you may have.
                       </p>
                   </div>
                   <div  class="chat_messages" id="chat-messages"></div>
                  
                  
               </div>
               <div class="card-footer">
                   <input type="text" id="user-input" class="int_text" placeholder="Type your message...">
                   <button class="send_btn" type="button" id="send-btn"><i class='bx bxs-send' ></i></button>
               </div>
           </div>

       </div>
      

    
       <!--==================== MAIN ====================-->
       <main class="main" style="background-color: #1f1f1f;">
           
       
           <!--==================== STORY ====================-->
           <section class="story section container">
               <div class="story__container grid">
                   <div class="story__data">
                       <h2 class="section__title story__section-title xmas_text">
                           About Our Events
                       </h2>
   
                       <h1 class="story__title xmas_text_alt">
                           WELCOME TO <br> ALTOS EDUHUB 
                       </h1>
   
                       <p class="home__description text-light">
                           Altos Eduhub is the best software training institute in Kochi, Kerala, 
                           owned by Altos Technologies, a leading software development company in Kerala. 
                           We offer top-notch training programs in Python, Front End Development, Digital Marketing, 
                           React JS, and REST API. Our institute provides on-the-job training to ensure that learners 
                           gain practical experience and are job-ready.
                       </p>
   
                       <a href="#featured" class="button button--small xmas-button" style="text-decoration: none; color: white;">Discover</a>
                   </div>

                   <div class="story__images" >
                       <img src="{% static 'img/bg7.jpg' %}" alt="" class="story__img">
                       <div class="story__square" ></div>
                   </div>
               </div>
           </section>

           <!--==================== FEATURED ====================-->
           <section class="featured section container" id="featured">
               <h2 class="section__title xmas_text">
                   Our Events
               </h2>

               <div class="featured__container grid">

                {% for event_details in eventsbox %}
                   <article class="featured__card">
                    
                    <div class="position-relative" style="z-index: 1; ">
                        <div class="position-absolute red_top_top" style="margin-top: -5vh; margin-left: -30%;">
                          <img id="red_top" draggable="false" src="{% static 'xmas/decor/new_ribbons/red_ribbon_top.png' %}" alt="" style="width: 55%;">
                        </div>
                    </div>
                       <span class="featured__tag"></span>

                        {% if event_details %}
                        <img  src="{{event_details.event_image.url}}" alt="Events Details" class="event__img">
                        {% endif %}

                       <div class="featured__data">
                        <p class="event__description"> {{event_details.event_description}}</p>
                           <!-- <h3 class="featured__title">{{event_details.event_image}}</h3> -->
                           <a href="{{event_details.event_link}}"><span class="event__link">Link : {{event_details.event_link}}</span></a>  
                           
                       </div>
                      
                       <a href="#{{event_details.id}}gallery"  class="button featured__button xmas-button" style="text-decoration: none; color: white;">Photos</a>
                      
                   </article>
                {% endfor %}
            
               </div>
           </section>



           {% for event_details in eventsbox %}
           <span id="{{event_details.id}}gallery"></span>
             <!--==================== GALLERY ====================-->
             <section class="featured section container" id="featured">
                <h2 class="section__title xmas_text" >
                   {{event_details.event_type}} -   {{event_details.event_name}}
                </h2>
 
                <div class="featured__container grid">
 
                    {% for img in gallery %}
                    {% if img.event_id.id == event_details.id %}
                    <article class="featured__card">
                        
                        <div class="position-relative" style="z-index: 1; ">
                            <div class="position-absolute red_top_top" style="margin-top: -5vh; margin-left: -30%;">
                              <img id="red_top" draggable="false" src="{% static 'xmas/decor/new_ribbons/red_ribbon_top.png' %}" alt="" style="width: 55%;">
                            </div>
                        </div>
                        <span class="featured__tag"></span>
 
                         {% if img %}
                        
                         <img src="{{img.images.url}}" alt="{{img.img_tag}}" class="featured__img">
                         {% endif %}
 
                    </article>
                    {% endif %}
                    {% endfor %}
               
                </div>
            </section>
            {% endfor %}
             
 

     
            <br><br>
        </main>
        

        <div class="position-relative" style="z-index: 1;" style="margin-top: 10vh;">
            <div class="position-absolute">
              <div class="d-flex" style="overflow-x: hidden;">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                <img width="150rem" draggable="false" src="{% static 'xmas/decor/white_paint_dripping.png' %}" alt="">
                
              </div>
            </div>
          </div>


       <!--==================== FOOTER ====================-->
       <footer class="footer section" style="background-color: #1f1f1f;">
           <div class="footer__container container grid">
               <div class="footer__content">
                   <h3 class="footer__title">ALTOS EDUHUB</h3>
   
                   <ul class="footer__list text-light">
                       <li> 1st Floor - Thapasya Building Infopark</li>
                       <li>Kakkanad, Cochin</li>
                       <li> +91 974 663 2202</li>
                       <li> info@Altostechnologies.in</li>
                   </ul>
               </div>
               <div class="footer__content">
                   <h3 class="footer__title">Quick Link</h3>
   
                   <ul class="footer__links">
                      
                       <li>
                           <a href="{% url 'AboutPage' %}" class="footer__link text-light">About Us</a>
                       </li>
                       <li>
                           <a href="{% url 'ContactPage' %}" class="footer__link text-light">Contact</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link text-light">Privacy Policy</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link text-light">Terms & Conditions</a>
                       </li>
                       <li>
                           <a href="#" class="footer__link text-light">FAQs & Help</a>
                       </li>
                       
                   </ul>
               </div>
   
               
   
               <div class="footer__content">
                   <h3 class="footer__title">Social</h3>
   
                   <ul class="footer__social">
                       <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" target="_blank" class="footer__social-link text-light">
                           <i class='bx bxl-facebook'></i>
                       </a>
                       <a href="https://wa.me/919074156818" target="_blank" class="footer__social-link text-light">
                           <i class='bx bxl-whatsapp' ></i>
                       </a>
                     
                       <a href="https://www.youtube.com/@altostechnologies" target="_blank" class="footer__social-link text-light">
                           <i class='bx bxl-youtube' ></i>
                       </a>
   
                       <a href="https://www.linkedin.com/mwlite/company/altos-technologies-kochi" target="_blank" class="footer__social-link text-light">
                           <i class='bx bxl-linkedin' ></i>
                       </a>
   
                       <a href="https://www.instagram.com/altos_technologies/" target="_blank" class="footer__social-link text-light">
                           <i class='bx bxl-instagram' ></i>
                       </a>
                   </ul>
               </div>
           </div>
   
           <span class="footer__copy text-light">{% now "Y" %} &#169; AltosTechnologies. All rigths reserved</span>
       </footer>
   

       <!--=============== SCROLL UP ===============-->
       <a href="#" class="scrollup" id="scroll-up"> 
           <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
       </a>
       <a href="https://wa.me/919074156818" class="scrollwh" id="scroll-wh"> 
          
           <i class='bx bxl-whatsapp scrollwh__icon' ></i>
       </a>

     

       <!--=============== SWIPER JS ===============-->
       <script src="static/js/swiper-bundle.min.js"></script>

      

       <!--=============== MAIN JS ===============-->
       <script src="static/js/main.js"></script>
       <script src="static/js/index.js"></script>
       <script src="static/js/chat.js"></script>

  

        <!--===============PARALLS JS ===============-->
      
        <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/rws3een.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="/path/to/cdn/jquery.min.js"></script>
       

       
       
   </body>
</html>